{
  "presets": ["@babel/env", "@babel/preset-typescript"],
  "plugins": [
    // "@babel/plugin-proposal-numeric-separator",
    // "@babel/proposal-class-properties",
    // "@babel/proposal-object-rest-spread",
    // "@babel/plugin-transform-runtime",
    "babel-plugin-glsl",
    "glslify"
  ]
}